__pycache__/
*.pyc
*.pyo
*.pyd
*.wav
*.pdf

.pytest_cache/
.tmp/
.tmp_testdata/
tests_runtime/
pytest-cache-files-*/

*.egg-info/
.venv/
out*/
models/*
!models/download_model.ps1
!models/download_model.bat
!models/README_MODELS.txt
local_data/
